<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
    <link rel="stylesheet" th:href="@{../../resources/css/style.css}"/>
</head>
<body>
<header th:include="header"></header>

<section class="login-page">
    <h2>Załóż konto</h2>
    <form th:object="${password}" th:method="post" th:action="@{/user/changePassword}" >
        <div class="form-group">
            <input th:field="*{oldPassword}" type="password" name="Old password" placeholder="Old password" />
            <p th:errors="*{oldPassword}"></p>
        </div>
        <div class="form-group">
            <input th:field="*{newPassword}" type="password" name="newPassword" placeholder="New password" />
        </div>
        <div class="form-group">
            <input th:field="*{rePassword}" type="password" name="rePassword" placeholder="Repeat" />
        </div>

        <div class="form-group form-group--buttons">

            <button class="btn" type="submit">Edytuj</button>
        </div>
    </form>

</section>
<footer th:include="footer"></footer>
</body>
</html>