<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
    <link rel="stylesheet" th:href="@{../../resources/css/style.css}"/>
</head>
<body>
<header th:include="header"></header>

<section class="login-page">
  <div>Podaj email na który zostanie wysłanie link resetujący hasło</div>
    <form th:object="${email}" th:method="post" th:action="@{/resetPassword/email}" >
        <div class="form-group">
            <input th:field="*{email}" type="text" name="Email" placeholder="Email" />
            <p th:class="err" th:errors="*{email}"></p>
        </div>


        <div class="form-group form-group--buttons">

            <button class="btn" type="submit">Wyślij</button>
        </div>
    </form>

</section>
<footer th:include="footer"></footer>
</body>
</html>