<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>Document</title>
    <script src="../../../resources/js/js.js"></script>
    <link rel="stylesheet" th:href="@{/resources/css/style.css}"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">
</head>
<body>
<header th:include="header"></header>
<div class="container">


        <table class="table" style="width:1200px; font-size: large">
            <thead>
            <tr>


                <th>Imię</th>
                <th>Nazwisko</th>
                <th>Email</th>
                <th>Status</th>
                <th>Akcje</th>

            </tr>
            </thead>
            <th:block th:each="user: ${users}">
            <form th:object="${userToEdit}" th:if="${userToEdit != null} and ${user.id == userToEdit.id}"
                  th:action="@{/admin/editUser}" method="post">
                <input type="hidden" th:field="*{id}" name="id"/>
                <tr>

                    <td><input type="text" th:field="*{name}" name="name"/><br>
                        <label th:class="err" th:errors="*{name}"></label>
                    </td>
                    <td><input type="text" th:field="*{surname}" name="surname"/>
                        <p th:class="err" th:errors="*{surname}"></p></td>
                    <td><input type="text" th:field="*{email}" name="email"/>
                        <p th:class="err" th:errors="*{email}"></p></td>
                    <td>Zabkolowany
                        <input type="radio" th:field="*{locked}" th:value="false">

                        Nie zabkolowany
                        <input type="radio" th:field="*{locked}" th:value="true">

                    <td>
                        <button class="btn" type="submit" th:text="Zapisz"></button>
                    </td>
                </tr>
            </form>
            <div class="col" th:if="${userToEdit == null} or ${userToEdit.id!=user.id}">
                </tr>
                <td th:text="${user.name}"></td>
                <td th:text="${user.surname}"></td>
                <td th:text="${user.email}"></td>
                <td th:if="${user.locked}==false">Zablokowany</td>
                <td th:if="${user.locked}==true"></td>
                <td>
                    <a class="btn--highlighted" type="button" th:href="@{/admin/users(toEdit=${user.id})}"
                       th:text="Edytuj"></a>
                    <a class="btn--highlighted" type="button" th:href="@{/admin/deleteUser/{id}(id=${user.id})}"
                       th:text="Usuń"></a>
                </td>
                </tr>
            </div>




    </th:block>
        </table>
</div>

<footer th:include="footer"></footer>
</body>
</html>