<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>Document</title>
    <script src="../../../resources/js/js.js"></script>
    <link rel="stylesheet" th:href="@{/resources/css/style.css}"/>
</head>
<body>
<header th:include="header"></header>
<section class="login-page">
    <h2>Nowa fundacja</h2>
    <form th:object="${newInstitution}" th:method="post" th:action="@{/admin/addInstitution}" >
        <div class="form-group">
            <input th:field="*{name}" type="text" name="name" placeholder="Name" />
            <p th:errors="*{name}"></p>
        </div>
        <div class="form-group">
            <input th:field="*{description}" type="text" name="description" placeholder="Description" />
        </div>

        <div class="form-group form-group--buttons">

            <button class="btn" type="submit">Dodaj</button>
        </div>
    </form>
</section>
<footer th:include="footer"></footer>
</body>
</html>