<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>Document</title>
    <script src="../../../resources/js/js.js"></script>
    <link rel="stylesheet" th:href="@{/resources/css/style.css}"/>

</head>
<body>
<header th:include="header"></header>
<section class="help">
    <h2 th:text="#{cooperation.title.message}"></h2>

    <!-- SLIDE 1 -->
    <div class="help--slides active" data-id="1">
        <p th:text="#{cooperation.content.message}"></p>
        <th:block th:each="i: ${#numbers.sequence(0, institutions.size()-1,2)}">

            <ul class="help--slides-items">

                <li>
                    <div class="col">
                        <div class="title" th:text="${institutions[i].name}"></div>
                        <div class="subtitle" th:text="${institutions[i].description}"></div>
                        <a class="btn" type="button" th:href="@{/admin/editInstitution/{id}(id=${institutions[i].id})}" th:text="Edytuj"></a>
                        <a class="btn" type="button" th:href="@{/admin/deleteInstitution/{id}(id=${institutions[i].id})}" th:text="Usuń"></a>
                    </div>

                    <div class="col" >
                        <div class="title" th:if="${i<institutions.size()-1}" th:text="${institutions[i+1].name}"></div>
                        <div class="subtitle" th:if="${i<institutions.size()-1}"  th:text="${institutions[i+1].description}"></div>
                      <div>  <a class="btn " th:if="${i<institutions.size()-1}" th:href="@{/admin/editInstitution/{id}(id=${institutions[i+1].id})}" th:text="Edytuj"></a>
                      <a class="btn " th:if="${i<institutions.size()-1}" th:href="@{/admin/deleteInstitution/{id}(id=${institutions[i+1].id})}" th:text="Usuń"></a>
                        </div>
                    </div>
                </li>

            </ul>
        </th:block>

    </div>

</section>
<footer th:include="footer"></footer>
</body>
</html>