<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>

    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>Document</title>
        <script src="../../resources/js/js.js"></script>
    <link rel="stylesheet" th:href="@{/resources/css/style.css}"/>

</head>
<body>
<header class="header--main-page">
    <nav class="container container--70">
        <ul class="nav--actions">

            <th:block sec:authorize="!isAuthenticated()">
                <li><a th:href="@{/login}" class="btn btn--small btn--without-border" th:text="#{login.message}"></a>
                </li>
                <li><a th:href="@{/register}" class="btn btn--small btn--highlighted"
                       th:text="#{create.account.message}"></a></li>
            </th:block>
            <th:block sec:authorize="hasRole('ROLE_USER')">
                <li class="logged-user">

            <th:block sec:authentication="principal.user.name"></th:block>

                    <ul class="dropdown">
                        <li><a th:href="@{/user}">Profil</a></li>
                        <li><a th:href="@{/user/editUser}">Edycja konta</a></li>
                        <li><a th:href="@{/user/donation}">Dodaj zbiórkę</a></li>
                        <li><a th:href="@{/user/donation/userDonations}">Moje zbiórki</a></li>
                        <li><form th:action="@{/logout}" method="post">
                         <a>   <input  th:type="submit" th:value="Wyloguj"></a>
                            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                        </form></li>


                    </ul>
                </li>
            </th:block>
            <th:block sec:authorize="hasRole('ROLE_ADMIN')">
                <li class="logged-user">
                    <th:block sec:authentication="principal.user.name"></th:block>
                    <ul class="dropdown">
                        <li><a th:href="@{/admin/institutions}">Instytucje</a></li>
                        <li><a th:href="@{/admin/addInstitution}">Dodaj instytujcję</a></li>
                        <li><a th:href="@{/admin/admins}">Administratorzy</a></li>
                        <li><a th:href="@{/admin/addAdmin}">Dodaj administratora</a></li>
                        <li><a th:href="@{/admin/users}">Użytkownicy</a></li>
                    <li><form th:action="@{/logout}" method="post">
                         <a>   <input class="bd-tw-button button" th:type="submit" th:value="Wyloguj"></a>
                            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                        </form></li>
                    </ul>
                </li>
            </th:block>


        </ul>

        <ul>
            <li><a th:href="@{/}" class="btn btn--without-border active" th:text="#{start.message}"></a>
            </li>
            <li><a href="#" class="btn btn--without-border" th:text="#{about.idea.message}"></a></li>
            <li><a href="#" class="btn btn--without-border" th:text="#{about.us.message}"></a></li>
            <li><a href="#" class="btn btn--without-border" th:text="#{institutions.message}"></a></li>
            <li><a href="#" class="btn btn--without-border" th:text="#{contact.message}"></a></li>
        </ul>
    </nav>

    <div class="slogan container container--90">
        <div class="slogan--item">
            <h1>
                <a th:text="#{slogan.first.part.message}"></a><br>
                <a th:text="#{slogan.second.part.message}"></a>
            </h1>
        </div>
    </div>
</header>

</body>
</html>