<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
    <link rel="stylesheet" th:href="@{../../resources/css/style.css}"/>
</head>
<body>
<header th:include="header"></header>

<section class="login-page">
    <h2>Załóż konto</h2>
    <form th:object="${admin}" th:method="post" th:action="@{/admin/editAdmin}" >
        <div class="form-group form-group--inline">

            <input th:field="*{email}" type="email" name="email" placeholder="Email" /><br>
            <label th:class="err" th:errors="*{email}"></label>

        </div>

        <div class="form-group form-group--inline">
            <input th:field="*{name}" type="text" name="name" placeholder="Name" /><br>
            <label th:class="err" th:errors="*{name}"></label>
        </div>
        <div class="form-group form-group--inline">
            <input th:field="*{surname}" type="text" name="surname" placeholder="Surname" /><br>
            <label th:class="err" th:errors="*{surname}"></label>
        </div>
        <input th:type="hidden" th:field="*{id}" name="id">
        <div class="form-group form-group--buttons">
            <a href="login.html" class="btn btn--without-border">Zaloguj się</a>
            <button class="btn" type="submit">Edytuj</button>
        </div>
    </form>
</section>
<footer th:include="footer"></footer>
</body>
</html>